h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}
// Позиционирование главных блоков страниц
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
}

.container {
  flex-grow: 1;
  padding-top: $Header-height;
}
